{% extends 'nav.html' %}
{% block content %}




<h1 class="bg-success text-warning text-center  p-3">Petrol Engine Cars</h1></a> 




<center>
    <ul><h3>
        <div class="text-center" style="width:5%">
        <li><a href="petrol/nexon">Nexon</a></li>
        <li><a href="petrol/punch">Punch</a></li>
        <li><a href="petrol/curvv">Curvv</a></li>
        <li><a href="petrol/tiago">Tiago</a></li>

    <ul></h3></div>
    
    </center>






{% endblock %}





